.metadata
.settings
.classpath
.project
.idea/*
.idea/**
.idea/***
*/.gitignore
RemoteSystemsTempFiles/*
target/*
Servers/*
*/dist
*/bin
*/build
*/target
*/.classpath
*/.project
*/.settings
*.class
*~
*.lock
*.DS_Store
*.swp
*.out
*.log*
/target
/bin/
*.iml
